.alc{
  text-align: center;
}
.logform{
  color:rgb(139, 143, 140);
  margin:3% 0 0 32.5%;
  width:35%;
  padding: 10px 20px;
  border: 1px solid #17a2b8;
  border-radius: 3px;
  //background:linear-gradient(180deg, rgb(49, 58, 131),rgb(151, 71, 163));
}
.button{
  border-radius:30px;
  background:rgb(255, 255, 255);
  padding:10px 40px;
  color:color:rgb(139, 143, 140);
}
.button:hover{
  border:2px solid black;
  margin-top:-1px;
  margin-bottom:-1px;
  cursor:pointer;
}
